<div class="card character">
    <img style="width: 100%" defaultImage="/assets/avatar.png" [lazyLoad]="character.UrlFoto" class="card-img-top" [alt]="character.NombreCompleto">
    <div class="card-body">
        <h5 class="card-title"> <strong> {{ character.NombreAMostrar }}</strong> </h5>
        <p class="card-text"> Grupo Parlamentario : <strong>{{ character.Partido.NombrePartido }}</strong> </p>
        <a href="{{ character.url }}" target="=_blank" class="card-text"><small class="text-muted">M&aacute;s informaci&oacute;n</small></a>
    </div>
</div>